html {
}

body {
  padding: 4px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-gap: 4px;
  background-color: black;
  box-sizing: border-box;
  grid-template: 8rem auto 24rem e('/') repeat(3, 1fr);

  > * {
    background-color: antiquewhite;
  }

  header {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    select {;
      text-align: center;
      font-size: 2rem;
    }
  }

  main {
    position: relative;
    grid-column: span 3;

    > *:first-child {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform:
        translate(-50%, -50%);
    }
  }

  footer {

  }

  select, input, textarea {
    border: none;
    border-bottom: 4px solid rgba(0,0,0,0.3);
    padding: 1rem;
    background-color: rgba(255,255,255,0.3);
    appearance: none;
    -moz-appearance: none;
  }
}

#reactive-props, #event-logs {
  display: flex;
  flex-direction: column;

  section {
    padding: 1rem;

    > label, > input {
      box-sizing: border-box;
      display: block;
      width: 100%;
    }

    > input {
    }
    
    > label {
      text-align: center;
      letter-spacing:1.3px;
      padding: 0.5rem;
      color: var(--clr-white, white);
      background-color: var(--clr-coal, dimgrey);
    }
  }
}
#state-props {
  display: flex;
  flex-direction: column;

  section {
    padding: 1rem;

    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }
}
